@import "./variables.scss";
@import './font.scss';

@mixin btn(
    $bgColor: $primary,
    $bg_hover_color: $primary_hover,
    $hover_color: #fff
) {
    font-family: 'sanji';
    outline: none;
    border: none;
    background: $bgColor;
    padding: 10px 60px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    transition: all 300ms ease-in-out;
    &:hover {
        cursor: pointer;
        background: $bg_hover_color;
        color: $hover_color;
    }
}

.primary-btn {
    @include btn;
}
.plain {
    @include btn(transparent, $primary);
    border: 1px solid $primary;
    color: $primary;
}
.re-button {
    display: inline-block;
}
.re-button + .re-button {
    margin-left: 14px;
}

