@import './font.scss';
@import './btn.scss';
@import './variables.scss';
@import './animation.scss';

body {
  font-size: 12px!important;
  // background: #f7faf8;
  // background: #f9faf9;
}

.hlight-a {
  color: $primary;
  &:hover {
    color: $primary_hover;
    cursor: pointer;
  }
}